<div class="grid align-content-start">     
    <div class="flex flex-row col-12">
        
        <div class="col-1">
            <button (click)="login()" pButton>Login</button>
        </div>
        <div class="col-1">
            <button (click)="logout()" pButton>Logout</button>
        </div>
    </div>
    <div class="flex flex-column col-12 text-center">
        <div class="col">
            <h1>Public Hero resource</h1>
        </div>
        <div class="col">
            <a href="/top-secret" pButton>Top secret resource</a>
        </div>
    </div>
</div>